<html>
    <head>
        <meta charset="utf-8"/>
        <title>Vehicle Sign Up</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='{{ base_url() }}/css/bulma.css' rel='stylesheet' type='text/css'>
        <link href='{{ base_url() }}/css/font-awesome.css' rel='stylesheet' type='text/css'>
        <style>
            .is-hour-range {
                font-size: 1.1em;
                font-weight: 500;
                display: block;
            }

            .is-car-reservation {

            }

            hr.pretty {
                border-top: 1px solid #8c8b8b;
                text-align: center;
            }
            hr.pretty:after {
                content: 'ยง';
                display: inline-block;
                position: relative;
                top: -14px;
                padding: 0 10px;
                background: #ffffff;
                color: #8c8b8b;
                font-size: 18px;
                -webkit-transform: rotate(60deg);
                -moz-transform: rotate(60deg);
                transform: rotate(60deg);
            }
        </style>
    </head>
    <body>
        <section class="hero is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Vehicle Sign Up
                    </h1>
                    <h2 class="subtitle">
                        This is <i>alpha</i> software, please report bugs to <a href="mailto:mayuran@hindu.org">Sadhaka Mayuranatha</a>.
                    </h2>
                </div>
            </div>
        </section>

        <br>
        <div class="container">
            {%  for day in days %}
            <div class="tile is-ancestor">
                <div class="tile is-parent">

                    {% if day.SunOrStar == "Star" %}
                    <div class="tile box is-child notification is-danger is-2">
                    {% else %}
                    <div class="tile box is-child notification is-warning is-2">
                    {%  endif %}
                        <p class="title"> {{ day.SunOrStar }} {{ day.SunOrStar_Num }}</p>
                        <p class="subtitle">{{ day.Date_|date("m/d/Y") }}</p>
                    </div>

                    {% for car in day.Cars %}
                    <div class="tile box is-child">
                        <p class="title"> {{ car.name }}</p>

                        <ul>
                            {% for reservation in car.Reservations %}
                            <li class="is-car-reservation">
                                <div class="is-hour-range">{{ reservation.start|date("H:i") }} - {{ reservation.end|date("H:i") }}</div>
                                <p><i>{{ reservation.who }}</i> {{ reservation.comment }}. <i class="fa fa-edit"></i></p>
                                <hr class="pretty">
                            </li>
                            {% endfor %}
                        </ul>

                    </div>
                    {% endfor %}


                </div>

            </div>
            {%  endfor %}
        </div>
    </body>
</html>
        
